@model IEnumerable<PaginaDeCadastro.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h2>Relatório de Pessoas</h2>

<p>
    <a asp-action="Create">Cadastrar nova pessoa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CidadeNat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeNat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoNat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
